@import 'vendors/bootstrap-reboot.scss';
@import 'vendors/bootstrap-grid.scss';
@import 'vendors/bootstrap.scss';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';

@import 'base/typography';
@import 'base/reset';
@import 'base/commom';

@import 'components/color';
@import 'components/background';

@import 'components/heading';

@import 'components/icon';
@import 'components/icon-size';
@import 'components/button';

@import 'layout/grid';
@import 'layout/gnb';

@import 'layout/footer';
@import 'pages/partners';

// banner
@import 'pages/banner';
@import 'pages/top';
@import 'pages/link';

//about
@import 'pages/about';
@import 'pages/greetings';
@import 'pages/history';

// solutions
@import 'pages/solutions';

// projects
@import 'pages/projects';

// map
@import 'pages/map';

@import 'pages/error';
