@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url('../font/NanumSquare/NanumSquareL.eot');
    src: local('☺'),
        url('../font/NanumSquare/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare/NanumSquareL.woff2') format('woff2'),
        url('../font/NanumSquare/NanumSquareL.woff') format('woff'),
        url('../font/NanumSquare/NanumSquareL.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url('../font/NanumSquare/NanumSquareR.eot');
    src: local('☺'),
        url('../font/NanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare/NanumSquareR.woff2') format('woff2'),
        url('../font/NanumSquare/NanumSquareR.woff') format('woff'),
        url('../font/NanumSquare/NanumSquareR.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url('../font/NanumSquare/NanumSquareB.eot');
    src: local('☺'),
        url('../font/NanumSquare/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare/NanumSquareB.woff2') format('woff2'),
        url('../font/NanumSquare/NanumSquareB.woff') format('woff'),
        url('../font/NanumSquare/NanumSquareB.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url('../font/NanumSquare/NanumSquareEB.eot');
    src: local('☺'),
        url('../font/NanumSquare/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare/NanumSquareEB.woff2') format('woff2'),
        url('../font/NanumSquare/NanumSquareEB.woff') format('woff'),
        url('../font/NanumSquare/NanumSquareEB.ttf') format('truetype');
}