.color {
    &--black {
        color: $black !important;
    }
    &--primary {
        color: $primary !important;
    }
    &--primary-dark {
        color: $primary-dark !important;
    }
    &--gray {
        color: $gray !important;
    }
    &--danger {
        color: $danger-dark !important;
    }
    &--warning {
        color: $warning !important;
    }
}