.icon--img {
    &.icon--xxxxl {
        width: 56px;
        height: 56px;
    }
    &.icon--xxxl {
        width: 48px;
        height: 48px;
    }
    &.icon--xxl  {
        width: 32px;
        height: 32px;
    }
    &.icon--xl {
        width: 28px;
        height: 28px;
    }
    &.icon--lg {
        width: 22px;
        height: 22px;
    }
    &.icon--md {
        width: 18px;
        height: 18px;
    }
    &.icon--sm {
        width: 14px;
        height: 14px;
    }
    &.icon--xs {
        width: 10px;
        height: 10px;
    }
}