.footer {
    position: relative;
    padding: {
        top: ($gutter * 6);
        right: 0;
        bottom: ($gutter * 6);
        left: 0;
    };
    color: $white;
    background-color: $primary-dark;
    z-index: 2;
}
.footer {
    &__header {
        display: grid;
        align-items: center;
        margin-bottom: ($gutter * 1); 
    }
    &__title {
        display: flex;
        color: $primary;
        img {
            display: inline-flex;
            width: 160px;
            height: auto;
            vertical-align: bottom;
        }
        .title {
            margin-left: ($gutter / 2);
        }
    }
    &__desc {
        margin-top: ($gutter * 2);
        line-height: 1.4;
    }
    &__address {
        dl {
            dd{
                &:first-of-type {
                    padding: {
                        top: calc($gutter / 2);
                        right: 0;
                        bottom: calc($gutter / 2);
                        left: 0;
                    };
                }
            }
        }
        dd {
            + dt {
                margin-top: ($gutter * 1.2);
            }
        }
    }

    &__nav {
        dd {
            display: list-item;
            list-style-type: square;
            margin-left: ($gutter * 2);
        }
    }
    &__sns {
        span {
            display: inline-flex;
            + span {
                margin-left: calc($gutter / 2);
            }
        }
    }
    &__nav, 
    &__address,
    &__sns {
        dt {
            margin: {
                top: 0;
                right: 0;
                bottom: $gutter;
                left: 0;
            };
            font-size: 1rem;
            font-weight: $font-bolder;
        }
        dd {
            font-size: $font-small;
        }
    }

}
.footer {
    a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        padding: {
            top: calc($gutter / 2);
            right: 0;
            bottom: calc($gutter / 2);
            left: 0;
        };
        color: $white;
        &::after {
            content: none;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 3px;
            background-color: transparent;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
            font-weight: $font-bold;
            text-decoration: none;
            &::after {
                background-color: $white;
            }
            .icon--youtube {
                background-image: url('../images/icons/icon-youtube_color.svg');
            }
        }
    }
}

.footer {
    .copyright {
        padding-top: ($gutter * 3);
        border-top: 1px solid $lightest;
        margin-top: ($gutter * 3);
        font-size: 0.75rem;
        letter-spacing: 0.03rem;
    }
}

@media (max-width: 699px) {
    .footer {
        padding: {
            top: ($gutter * 5);
            right: $gutter;
            bottom: ($gutter * 5);
            left: $gutter;
        };
        &__address {
            margin-top: ($gutter * 2);
        }
        &__nav {
            display: none;
        }   
        &__sns {
            margin-top: ($gutter * 2);
        }
    }
}