.banner {
    &-link {
        &--main {
            .link {
                &__img {
                    content: '';
                    display: block;
                    // width: 100%;
                    height: 360px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    @media (max-width: 768px) {
                        height: 240px;
                    }
                    &.link--system {
                        background-image: url('../images/banners/link_system.jpg');
                        // @media (max-width: 699px) {
                        //     margin-top: $gutter;
                        // }
                    }
                    &.link--analyze {
                        background-image: url('../images/banners/link_analyze.jpg');
                    }
                    &.link--search {
                        background-image: url('../images/banners/link_search.jpg');
                    }
                    &.link--education {
                        background-image: url('../images/banners/link_education.jpg');
                    }
                }
            }
        }
        dl {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            padding: {
                top: 0;
                right: ($gutter * 3);
                bottom: 0;
                left: ($gutter * 3);
            }
            @media (max-width: 768px) {
                padding: {
                    top: ($gutter * 5);
                    right: ($gutter * 1);
                    bottom: ($gutter * 5);
                    left: ($gutter * 1);
                }
            }
        }
        dt {
            font-size: 1.5rem;
            font-size: 2rem;
            color: $primary;
            font-weight: $font-bolder;
        }
        dd {
            margin-top: ($gutter * 2);
            color: $dark;
            @media (max-width: 699px) {
            }
        }
        a {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            padding: {
                top: ($gutter * 2);
                right: 0;
                bottom: 0;
                left: 0;
            }   
            @media (max-width: 699px) {
                padding: {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                } 
            }
            font-weight: $font-bold;
            color: $primary;
            &::after {
                @include title-underline (
                    block,   
                    100%, 
                    2px, 
                    transparent
                );
            }
            &:hover,
            &:focus,
            &:active,
            &.active {
                font-weight: $font-bolder;
                color: $primary;
                text-decoration: none;
                &::after {
                    @include title-underline (
                        block,   
                        100%, 
                        2px, 
                        $primary
                    );
                }
            }
        }
    }
}

.banner {
    &-link {
        &--solutions { 
            position: relative;
            padding: 0 24px;
            margin-top: 2rem;
            overflow: hidden; /* 전체 가로 스크롤 제거 */
            .swiper-slide-active {
                transform: scale(1);
                opacity: 1;
                z-index: 2;
            }
            .link {
                &__img {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 296px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: rgba($color: $black, $alpha: 0.55);
                    background-blend-mode: overlay;
                    @media (max-width: 768px) {
                        // height: 240px;
                    }
                    &.link--system {
                        background-image: url('../images/banners/solutions_link_system.jpg');
                        @media (max-width: 699px) {
                            margin-top: ($gutter * 2);  
                        }
                    }
                    &.link--analyze {
                        background-image: url('../images/banners/solutions_link_analyze.jpg');
                    }
                    &.link--search {
                        background-image: url('../images/banners/link_search.jpg');
                    }
                    &.link--education {
                        background-image: url('../images/banners/solutions_education2.jpg');
                    }
                }
            }

            .swiper {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                overflow: visible;
                .swiper-slide {
                    min-width: 300px;
                    flex-shrink: 0; /* 슬라이드가 줄어들지 않도록 */
                    text-align: center;
                    transform: scale(0.95);
                    transition: transform 0.6s ease, opacity 0.6s ease;
                    opacity: 0.85;
                }
            }

            figure {
                width: 100%;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                border-radius: ($gutter * 2);
                margin: 0 auto;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
                background-color: $darker;
                overflow: hidden;

                figcaption {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    color: $white;
                    dl {
                        display: flex;
                        align-content: center;
                        padding: {
                            top: 0;
                            right: ($gutter * 4);
                            bottom: 0;
                            left: ($gutter * 4);
                        }
                        @media (max-width: 699px) {
                            height: 312px !important;
                        }
                        dd {
                            padding: {
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                            }                       
                        }
                        a {
                            &::after {
                                @include title-underline (
                                    block,   
                                    100%, 
                                    2px, 
                                    transparent
                                );
                            }
                            &:hover,
                            &:focus,
                            &:active,
                            &.active {
                                font-weight: $font-bolder;
                                color: $white;
                                &::after {
                                    @include title-underline (
                                        block,   
                                        100%, 
                                        2px, 
                                        $white
                                    );
                                }
                            }
                        }
                        dt,
                        dd,
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.swiper-button-next,
.swiper-button-prev {
    width: 36px !important;
    height: 36px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 36px;
    background-color: rgba($color: $black, $alpha: 0.3);
    cursor: pointer;
    z-index: 10;
    @media (max-width: 768px) {
        width: 28px;
        height: 28px;
    }
    &::after {
        display: none;
    }
    &:focus,
    &:hover,
    &:active,
    &.active {
        background-color: rgba($color: $primary, $alpha: 0.8);
    }
}
.swiper-button-prev {
    left: 10px;
}
.swiper-button-next {
    right: 10px;
}
